<br>
<hr>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let e of profiles | paginate: {currentPage: currentPage, itemsPerPage: 12}">
        <div class="card shadow-sm">
          
          <img src="{{e.profilePicture}}" alt="" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">
              Name: {{ e.fullName }}
            </h6>
            <p class="card-text">
              Email: {{ e.email }}
            </p>
            <p class="card-text">
              Role: {{ e.title }}
            </p>
            <p class="card-text">
              Department:
              {{ e.department }}
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a routerLink="/user-details/{{e.email}}" class="btn btn-outline-primary btn-sm">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
