<div class="container">
    <div class="clearfix">
        <!-- <span class="fs-1 d-flex align-items-center text-dark text-decoration-none">
            Turntabl Talent Pool
            <img src="../../../assets/logo.jfif" class="rounded float-end img-thumbnail pull-right"
            style="width: 20px; height: 20px; float: right;">
        </span> -->
        <img class="logo" src="../../../assets/logo.jfif" width="100" height="100">
        <span class="fs-1 d-flex align-items-center text-dark text-decoration-none">
            Turntabl Talent Pool
        </span>
    </div>

    <div class="row align-items-center loginform">

        <div class="col-lg-12">
            <div class="h-20 p-5 text-white bg-dark rounded">
                <h4>Sign In with Google</h4>
                <br>
                <br>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-5">
                        <div class="mb-3">
                            <button class="btn btn-primary loginform" (click)="login()">Login</button>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>